.footer-container{
    display: grid;
    grid-template: 1fr/repeat(2,1fr);

}
.footer-brand-contact-item{
    background-color: $primary-color;
    height:100%
}
.footer-info-container{
    @extend %flex-between;
    align-items: flex-start;
    .footer-info-content__detail{
        list-style: none;
        margin-top: 20px;
    }
    .footer-info-content__title{
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #0B132A
    }
    
    .footer-info-content__detail li a{
        text-decoration: none;
    }
    .footer-info-content__detail li{
        margin-bottom:20px;

    }
}
.footer-brand-description{
    width: 340px
}